@import url("https://fonts.googleapis.com/css?family=Covered+By+Your+Grace");
body {
  box-sizing: border-box;
  color: #000;
  font-family: "Covered By Your Grace", cursive;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  overflow: hidden; }

button {
  background: none;
  border: none;
  font-family: "Covered By Your Grace", cursive;
  font-size: 1.3rem; }

button:hover, img:hover, i:hover, .play, input[type=range]::-webkit-slider-thumb, input[type=time] {
  cursor: pointer; }

button:focus, input:focus {
  outline: none; }

p {
  text-align: center;
  margin: 0; }

.app {
  height: 100vh;
  width: 100vw; }

nav {
  height: 100vh;
  position: fixed;
  width: 20vw;
  z-index: 2; }
  nav .overlay {
    background: #fff;
    height: 100%;
    margin: 0;
    opacity: 0.7;
    position: fixed;
    transition: all 0.5s ease;
    width: 20vw;
    z-index: -1; }
  nav .nav-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 66%;
    transition: all 1s ease; }
  nav .brand-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 20%;
    margin-top: 5vh; }
    nav .brand-container img {
      width: 40%; }
  nav .icon-group {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 50%;
    width: 100%; }
    nav .icon-group img {
      height: 7vh;
      margin: 0.5em 0;
      transition: all 0.25s ease;
      width: 27%; }
    nav .icon-group img:hover {
      transform: scale(1.25); }
  nav .volume-set {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 15%; }
    nav .volume-set i, nav .volume-set input[type=range] {
      align-self: center; }
    nav .volume-set input[type=range], nav .volume-set input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none; }
    nav .volume-set input[type=range] {
      background: #A9A9A9;
      height: 5px;
      margin: 1em 0em;
      width: 80%; }
    nav .volume-set input[type=range]::-webkit-slider-thumb {
      background: #808080;
      border: solid transparent 0px;
      border-radius: 50%;
      height: 15px;
      width: 15px; }
  nav .timer-set {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 15%; }
    nav .timer-set img {
      height: 50%;
      margin: 0 1em;
      transition: all 0.25s ease; }
    nav .timer-set img:hover {
      transform: scale(1.25); }
  nav input[type=time] {
    background: none;
    border: solid transparent 0px;
    font-family: "Covered By Your Grace", cursive;
    font-size: 2.5rem;
    left: 5%;
    position: relative; }
  nav input[type=time]::-webkit-outer-spin-button,
  nav input[type=time]::-webkit-inner-spin-button {
    -webkit-appearance: none; }
  nav input[type=time]::-webkit-clear-button {
    display: none; }

.player-container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  height: 100vh;
  position: relative;
  z-index: 1; }
  .player-container .play {
    flex: 1;
    height: 10vh;
    left: 1vw;
    position: relative;
    width: 5vw; }
  .player-container svg {
    pointer-events: none;
    transform: rotate(-90deg); }
    .player-container svg circle {
      transition: all 0.25s ease; }
  .player-container .track-outline, .player-container .moving-outline {
    height: 25%;
    position: fixed;
    visibility: hidden;
    transition: all 0.5s ease; }

video {
  height: 100vh;
  object-fit: cover;
  position: fixed;
  width: 100vw;
  z-index: -1; }

.modal {
  background: white;
  display: none;
  font-family: "Arial, Helvetica, sans-serif";
  left: 25vw;
  position: relative;
  top: -80vh;
  width: 50%;
  z-index: 3; }
  .modal i {
    height: 5%;
    left: 48vw;
    position: relative;
    top: 2vh; }
  .modal .modal-flex-set {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .modal .modal-flex-set img {
      height: 20vh;
      margin: 2em 0; }
    .modal .modal-flex-set p {
      letter-spacing: 0.1rem;
      width: 75%; }
    .modal .modal-flex-set .button-set {
      display: flex;
      justify-content: space-evenly;
      margin: 1.25em 0;
      width: 100%; }

@media (max-width: 400px) {
  nav .icon-group {
    height: 80%; }
    nav .icon-group img {
      width: 45%; }
  nav .volume-set {
    display: none; }
  nav .timer-set {
    display: none; } }
@media (max-width: 768px) {
  nav {
    width: 33vw !important; }
    nav .brand-container img {
      width: 50%; }
    nav .overlay {
      width: 33vw !important; }
    nav .timer-set input[type=time] {
      font-size: 1.5em; }

  .modal {
    left: 5%;
    width: 90% !important; }
    .modal i {
      display: none; } }
@media (max-width: 992px) {
  .timer-set input[type=time] {
    font-size: 2rem; } }

/*# sourceMappingURL=style.css.map */
