//  colors
$theme-white: #fff;

// font variables
$default-font: "Covered By Your Grace", cursive;
$informational-font: "Arial, Helvetica, sans-serif";

// responsive screen size variables
$small: "400px";
$medium: "768px";
$large: "992px";
